[submodule "3rdparty/wlroots"]
	path = 3rdparty/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "3rdparty/wlr-protocols"]
	path = 3rdparty/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "3rdparty/wayland-protocols"]
	path = 3rdparty/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
